@model UpdateBlogCategoryDto
@{
    ViewData["Title"] = "Blog Kategori Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="BlogCategoryId" />
    <label>Blog Kategori Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
 
    <button class="btn btn-outline-primary" type="submit">Güncelle</button>
</form>

